.leftcol {
  // background-color: orange;
  float: left;
  clear: right;
  display: inline-block;
  width: 30%;
  margin: 10px;

  img {
    width: 230px;
    height: 230px;
    border-radius: 5px;
  }

  #name {
    font-size: 18pt;
    margin-bottom: 5px;
  }

  #login {
    color: #767676;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
    font-size: 16pt;
  }

  ul{
    padding-bottom: 17px;
    padding-left: 5px;
    border-bottom: 1px solid #d8d8d8;
    list-style: none;
    font-size: 16pt;

    // .octicon octicon-organization {
    //   color: #d8d8d8;
    // }

  }
//TODO: SWITCH TO NEW UL
  nav.followers {
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
    list-style: none;

    a {
      float: left;
      width: 33.33%;

    }

    p {
      float: left;
      width: 33.33%;
      font-weight: lighter;
    }

    .numbers {
      font-weight: bold;
      color: #4078c0; //bluish grey
      font-size: 20pt;
    }

    .category {
      color: #767676; //grey
      font-size: 12pt;
    }

    #following {
      font-size: 20pt;
      margin: 0;
    }

  } //END OF NAV .FOLLOWERS
}//END OF LEFT COLUMN STYLING

//MAIN CONTENT

.rightcol {
  // background-color: #d8d8d8;
  float: left;
  display: inline-block;
  width: 60%;
  margin: 10px;

  #follow {                         //GREEN FOLLOW BUTTON
    background-color: green;
    color: white;
  }

  nav.tabs-desktop {                //<nav class="tabs">
    float:left;
    width:50%;
    display: inline-block;
    text-decoration: none;
    margin-right: 25px;


  nav.mobile {                  //MOBILE SPECIFIC TABS
    display: none;
  }

    a {                         //TAB LINKS
      text-decoration: none;
      color: #767676;
      margin: 0 5px;
      font-size: 10pt;
    }

    a.active {                  //active link
      color: black;
      border: 1px solid #767676;
    }

  }

  div.buttons {
    float: left;
    width: 45%;
    display: inline-block;
  }

  .reposrc {
    display: inline-block;

  }

  .filters a {
    text-decoration: none;
    color: #4078c0;
  }

  div#contributions {          //CONTRIBUTIONS PANEL
    display: none;
  }

  #contributions.active {     //STYLING FOR ACTIVE contributions PANEL
    display: inherit;
    color: #4078c0;

    ul {                    //contributions list
      list-style: none;
      display: block;

      li {
        border: 1px solid #767676;
        margin-top: 5px;
        margin-bottom: 5px;

        .con-name {
          margin: 5px;
        }
      } //END LI
    } // END UL
  } //END #CONTRIBUTIONS

  div#repos {               //REPOS PANEL
    display: none;

  }

  #repos.active {
    display: inline-block;

  }

  .boxrepo h3 {
    color: #4078c0;
  }

} //END OF RIGHT COLUMN

//----------COMMENT SECTION----------------------
.comment-template{      //TEMPLATE
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ddd; //darker grey
  @extend .clearfix;

  .template-head {        //NAV FOR TABS
    width: 100%;
    display: inline-block;
    background-color: #f2f8fa;
    border-bottom: 1px solid #ddd; //darker grey

  }

}  //END OF TEMPLATE



.comment-form {           //COMMENT-FORM SECTION
  display: block;
  width: 100%;
  margin: 10 auto;
  margin-top: 10px;
  border: 1px solid #ddd; //darker grey
  @extend .clearfix;

  .comment-nav {        //NAV FOR TABS
    width: 100%;
    display: inline-block;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd; //darker grey

    a {
      text-decoration: none;
      color: black;
      margin-right: 5px;
    }
  } //END OF NAV

  #write {          //FORM div
    width: 100%;
    margin: 0 auto;
    // border: 1px solid #ddd;
    border-top: none;

    textarea {
      width: 90%;
      margin: 0 auto;
      margin: 5px;
      background-color: #fafafa; //light grey
      border: 1px solid #ccc;
    }

    #comment {
      background-color: green;
      color: white;
      float: right;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
  #preview {              //PREVIEW PANEL
    display: none;
    &.active{
      display: inherit;
    }
  } //END OF PREVIEW PANEL
} //END OF COMMENT-FORM SECTION

//------------MEDIA QUERIES----------------

@media (max-width: 767px) {           //MOBILE
  .leftcol {
    width: 100%;

  }
  .pict {
    width: 200px;
    height: 200px;
    float: left;
  }
  .profile {
    display: inline-block;
    float: left;

  }

  .rightcol {
    width: 100%;
    display: block;
  }
  .mobile {
   display: inherit;
   text-decoration: none;
   color: #4078c0;
 }

 .desktop {
   display: none;

 }

}

@media (max-width: 1024px) and (min-width: 768px){      //TABLET
  .mobile {
    display: none;
  }

   }


@media (min-width: 1025px) {            //DESKTOP
  .mobile {
    display: none;
  }
   }
